<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="alternate" type="application/rss+xml" href="/rss/{{blogkey}}" title="RSS">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/> 

  </head>
   <body>
    <div class="wrapper">
      <h1>
	<p>All Question List</p>
      </h1>
    </div>
    <div class="direction">
    <a href="/rss/{{blogkey}}">
      RSS
    </a>
    <p>
     <a href = "{{ url|safe }}">{{ url_linktext }}</a>
    </p>
    <a href="/addquestion">
    <p>CreateQuestion</p>
    </a>
    All Tags:
      {% for tag in taglist %}
        <a href="/tag/{{tag.key()}}"><span class="tag">{{tag.tag}}</span></a>
      {% endfor %}
    <a href="/uploadimage">
    <p>Upload Image</p>
    </a>
    <hr>
    {% for question in questions %}  
   
      {{question.ownername}} wrote:</div>
      <h2><a href="/questionview/{{question.key().id()}}">{{question.name}}</a></h2>
      <pre>{{question.content|truncate(500)}}</pre>
      <div>created on {{question.created_time.strftime("%d %b %Y %H:%M:%S EST")}}</div>
      <div>editted on {{question.modifytimeEST().strftime("%d %b %Y %H:%M:%S EST")}}</div>
      
      Tags:
      {% for tag in question.tagList() %}
           
            <a href="/tag/{{tag.key()}}"><span class="tag">{{tag.tag}}</span></a>
      {% endfor %}      
      <hr>
    {% endfor %}
        
       {% if cursor %}
          <a href="?cursor={{cursor}}">Next Page</a>
       {% endif %}
    </div>
    
   </body>
</html>
{% endautoescape %}
